In [1]:
import numpy as np

In [2]:
from sklearn.preprocessing import MinMaxScaler

In [3]:
data = np.random.randint(0,100, (10,2))

In [4]:
data

array([[38, 88],
       [32, 54],
       [47, 23],
       [28, 37],
       [73, 23],
       [12, 67],
       [59, 75],
       [91, 96],
       [51, 29],
       [56, 46]])

In [5]:
scaler_model = MinMaxScaler()

In [6]:
type(scaler_model)

sklearn.preprocessing.data.MinMaxScaler

In [7]:
scaler_model.fit(data)

/nfs/2016/r/rlevine/anaconda3/envs/tfdeeplearning/lib/python3.5/site-packages/sklearn/utils/validation.py:444: DataConversionWarning: Data with input dtype int64 was converted to float64 by MinMaxScaler.
  warnings.warn(msg, DataConversionWarning)

MinMaxScaler(copy=True, feature_range=(0, 1))

In [8]:
scaler_model.transform(data)

array([[ 0.32911392,  0.89041096],
       [ 0.25316456,  0.42465753],
       [ 0.44303797,  0.        ],
       [ 0.20253165,  0.19178082],
       [ 0.7721519 ,  0.        ],
       [ 0.        ,  0.60273973],
       [ 0.59493671,  0.71232877],
       [ 1.        ,  1.        ],
       [ 0.49367089,  0.08219178],
       [ 0.55696203,  0.31506849]])

In [9]:
scaler_model.fit_transform(data)

/nfs/2016/r/rlevine/anaconda3/envs/tfdeeplearning/lib/python3.5/site-packages/sklearn/utils/validation.py:444: DataConversionWarning: Data with input dtype int64 was converted to float64 by MinMaxScaler.
  warnings.warn(msg, DataConversionWarning)

array([[ 0.32911392,  0.89041096],
       [ 0.25316456,  0.42465753],
       [ 0.44303797,  0.        ],
       [ 0.20253165,  0.19178082],
       [ 0.7721519 ,  0.        ],
       [ 0.        ,  0.60273973],
       [ 0.59493671,  0.71232877],
       [ 1.        ,  1.        ],
       [ 0.49367089,  0.08219178],
       [ 0.55696203,  0.31506849]])

In [10]:
import pandas as pd

In [26]:
mydata = np.random.randint(0,101,(50,4))

In [27]:
mydata

array([[ 47,  32,  11,   0],
       [ 14,  10,  57,  97],
       [ 74,  80,  26,   4],
       [ 75,  77,  25,   4],
       [ 32,   3,  58,  70],
       [ 21,  32,  86,  15],
       [ 80,  12,   3,  31],
       [ 56,  96,  36,  17],
       [ 35,  12,  55,  33],
       [ 90,  85,  48,  19],
       [ 61,  24,  86,  70],
       [ 85,  75,  13,  46],
       [ 94,  40,  85,  61],
       [ 35,  49, 100,  73],
       [ 82,  81,  67,  50],
       [ 45,  82,  13,  81],
       [ 84,  55,  85,  50],
       [ 64,  72,  72,  86],
       [ 70,  69,  54,  18],
       [ 77,   4,  17,  87],
       [ 12,  40,  24,   3],
       [ 43,   0,  63,  66],
       [  6,  56,  93,  20],
       [ 10,  53,  40,   5],
       [ 48,  24,  16,  86],
       [ 54,  78,  98,  52],
       [ 16,  52,  51,  12],
       [ 57,  85,  82,  67],
       [ 41,  15,  70,  25],
       [ 45,  80,  24,  73],
       [ 67,  67,  19,  79],
       [ 87,  70,  18,   1],
       [ 36,  30,  24,  94],
       [ 59,  19,  15,  71],
       [ 27,  60,  42,  13],
       [ 69,  35,  54,  39],
       [ 80,  41,  20,  16],
       [ 98,  49,  51,  31],
       [ 75,   8,  97,  34],
       [ 86,  65,  27,  71],
       [ 23,  92,   3,  47],
       [ 97,  68,  73,   5],
       [ 30,   1,   7,  99],
       [ 23,  71,  13,  44],
       [ 23,  18,  68,  92],
       [  3,  94,  10,  16],
       [ 25,  74,  18,  31],
       [ 38,  48,  93,  52],
       [ 42,  63,  10,  49],
       [ 71,  32,  86,  28]])

In [28]:
df = pd.DataFrame(mydata, columns = ['f1', 'f2', 'f3', 'label'])

In [29]:
df

    f1  f2   f3  label
0   47  32   11      0
1   14  10   57     97
2   74  80   26      4
3   75  77   25      4
4   32   3   58     70
5   21  32   86     15
6   80  12    3     31
7   56  96   36     17
8   35  12   55     33
9   90  85   48     19
10  61  24   86     70
11  85  75   13     46
12  94  40   85     61
13  35  49  100     73
14  82  81   67     50
15  45  82   13     81
16  84  55   85     50
17  64  72   72     86
18  70  69   54     18
19  77   4   17     87
20  12  40   24      3
21  43   0   63     66
22   6  56   93     20
23  10  53   40      5
24  48  24   16     86
25  54  78   98     52
26  16  52   51     12
27  57  85   82     67
28  41  15   70     25
29  45  80   24     73
30  67  67   19     79
31  87  70   18      1
32  36  30   24     94
33  59  19   15     71
34  27  60   42     13
35  69  35   54     39
36  80  41   20     16
37  98  49   51     31
38  75   8   97     34
39  86  65   27     71
40  23  92    3     47
41  97  68   73      5
42  30   1    7     99
43  23  71   13     44
44  23  18   68     92
45   3  94   10     16
46  25  74   18     31
47  38  48   93     52
48  42  63   10     49
49  71  32   86     28

In [30]:
X = df[['f1','f2','f3']]

In [33]:
y = df['label']

In [34]:
from sklearn.model_selection import train_test_split

In [35]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42)

In [36]:
X_train.shape

(35, 3)

In [37]:
X_test.shape

(15, 3)